# 1. Data Loading

In [2]:
import pandas as pd

def load_data(path):
    df = pd.read_parquet(path)

    if not isinstance(df.index, pd.DatetimeIndex):
        datetime_col = None
        for col in df.columns:
            if "time" in col.lower() or "date" in col.lower():
                datetime_col = col
                break

        if datetime_col is None:
            raise ValueError("No datetime column found in data.")

        df[datetime_col] = pd.to_datetime(df[datetime_col])
        df = df.set_index(datetime_col)

    df = df.sort_index()
    return df

In [4]:
path = "data_raw\group1"

In [6]:
import os

files = [f for f in os.listdir("../data_raw/group1") if f.endswith(".parquet")]
files

['data1_2023_Q1.parquet',
 'data1_2023_Q3.parquet',
 'data1_2023_Q4.parquet',
 'data1_2024_Q2.parquet',
 'data1_2024_Q4.parquet',
 'data1_2025_Q1.parquet',
 'data1_2025_Q2.parquet']

In [7]:
df = load_data(f"../data_raw/group1/{files[0]}")
df.head()

                           NQ  SP
datetime
2023-01-02 09:31:00+00:00 NaN NaN
2023-01-02 09:32:00+00:00 NaN NaN
2023-01-02 09:33:00+00:00 NaN NaN
2023-01-02 09:34:00+00:00 NaN NaN
2023-01-02 09:35:00+00:00 NaN NaN